@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-dark: 16, 16, 16;
  --background-primary: 27, 27, 27;
  --btn-primary: 255, 229, 0;
  --btn-secondary: 217, 217, 217;
  --sidenav-btn-bg: 92, 83, 1;
  --sidenav-btn-primary: 246, 237, 153;
  --sidenav-btn-secondary: 255, 155, 0;
  --text-primary: 248, 248, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  scroll-behavior: smooth;
}

body {
  color: rgb(var(--foreground-rgb));
  cursor: url("./../public/cursor.svg"), auto;
  scrollbar-color: rgb(34, 34, 34);
  scrollbar-width: 20px;
}

*::-webkit-scrollbar-thumb {
  background: rgb(255, 238, 0);
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #101010;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-neutral {
  background-color: rgb(var(--background-dark));
  background-repeat: no-repeat;
}

[data-animation-speed="slow"] {
  --_animation-speed: 40s;
}

[data-animation-speed="fast"] {
  --_animation-speed: 5s;
}

[data-animation-direction="left"] {
  --_animation-direction: forwards;
}

[data-animation-direction="right"] {
  --_animation-direction: reverse;
}

.mask {
  mask-image: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.animate-modal {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  background-color: rgb(var(--btn-primary));
  color: black;
  font-weight: 700;

  .modal_icon,
  .modal_text {
    padding: 0.5rem;
    position: absolute;
    width: 8rem;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s;
  }

  .modal_icon {
    display: flex;
    justify-content: center;
    left: -50%;
  }
}

.animate-modal:hover {
  .modal_icon {
    left: 50%;
  }

  .modal_text {
    left: 150%;
  }
}

.char {
  opacity: 0;
  filter: blur(5px);
  animation: fadeIn 0.5s linear forwards;
}

.card1 {
  left: 10%;
  transform: rotateX(45deg) rotateY(50deg) rotateZ(-50deg);

  @media (min-width: 768px) {
    left: 20%;
  }
}

.card2 {
  left: 20%;
  transform: rotateX(40deg) rotateY(45deg) rotateZ(-45deg);

  @media (min-width: 768px) {
    left: 30%;
  }
}

.card3 {
  left: 30%;
  transform: rotateX(35deg) rotateY(40deg) rotateZ(-40deg);

  @media (min-width: 768px) {
    left: 40%;
  }
}

.card4 {
  left: 40%;
  transform: rotateX(30deg) rotateY(35deg) rotateZ(-35deg);

  @media (min-width: 768px) {
    left: 50%;
  }
}

.card5 {
  left: 50%;
  transform: rotateX(25deg) rotateY(30deg) rotateZ(-30deg);

  @media (min-width: 768px) {
    left: 60%;
  }
}

.animate-forwards {
  width: 600px;
  height: 500px;
  z-index: 50;
  left: 50%;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg) translate(-50%, -50%);

  @media screen and (max-width: 640px) {
    width: 80vw;
    height: 70vh;
  }
}

.pricing-card {
  box-shadow: 0px 5px 10px 5px var(--shadow-color);
  transition: box-shadow 0.5s;
  transform: translateX(-110%);
}

.pricing-card.items-card1 {
  --shadow-color: #854d0e;
}

.pricing-card.items-card2 {
  --shadow-color: #075985;
}

.pricing-card:hover {
  box-shadow: 0px 0px 10px 10px var(--shadow-color);
}

.pricing-card.stagger {
  transform: translateX(-110%);
  opacity: 0;
  filter: blur(10px);
}

.pricing-card.stagger:first-child {
  animation: stagger 1s ease forwards;
}

.pricing-card.stagger:last-child {
  animation: stagger 1s ease 0.5s forwards;
}

.text {
  background-clip: text;
  font-weight: 600;
  color: transparent;
  background-image: linear-gradient(to top, #f5f5f5, #a3a3a3);
}

.menu > div:first-child,
.menu::after,
.menu::before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  opacity: 1;
  background-color: #a3a3a3;
  border-radius: 10px;
  margin-top: 5px;
}

.cross {
  position: absolute;
  top: -1px;
  left: 0px;
  width: 125%;
  height: 100%;

  .line1,
  .line2 {
    position: absolute;
    top: 5%;
    left: 0%;
    opacity: 0;
    width: 0%;
    height: 2.5px;
    background-color: #a3a3a3;
    border-radius: 10px;
    transform-origin: left center;
    rotate: 45deg;
    animation: cross 0.2s ease forwards 0.5s;
  }

  .line2 {
    top: 95%;
    rotate: -45deg;
  }
}

.menu::before {
  margin-top: 0px;
}

.menu.alter::after {
  animation: change 0.5s ease 0.2s forwards;
}

.menu > div:first-child.alter {
  animation: change 0.5s ease 0.1s forwards;
}

.menu.alter::before {
  animation: change 0.5s ease forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@keyframes cross {
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes change {
  to {
    width: 0px;
    opacity: 0;
  }
}

@keyframes stagger {
  to {
    transform: translateX(0%);
    opacity: 1;
    filter: blur(0px);
  }
}

@media (max-width: 640px) {
  .animate-modal {
    width: 8rem;
    height: 3rem;

    .modal_icon,
    .modal_text {
      font-size: medium;
    }
  }
}
