@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --background-dark: 16, 16, 16;
  --background-primary: 27, 27, 27;
  --btn-primary: 255, 229, 0;
  --sidenav-btn-bg: 92, 83, 1;
  --sidenav-btn-primary: 246, 237, 153;
  --sidenav-btn-secondary: 230, 183, 2;
  --text-primary: 248, 248, 248;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  cursor: url("./../public/cursor.svg"), auto;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.bg-neutral {
  background-color: rgb(var(--background-dark));
  background-repeat: no-repeat;
}

[data-animation-speed="slow"] {
  --_animation-speed: 40s;
}

[data-animation-speed="fast"] {
  --_animation-speed: 5s;
}

[data-animation-direction="left"] {
  --_animation-direction: forwards;
}

[data-animation-direction="right"] {
  --_animation-direction: reverse;
}

.mask {
  mask-image: linear-gradient(
    90deg,
    transparent,
    white 20%,
    white 80%,
    transparent
  );
}

.animate-modal {
  width: 9rem;
  height: 3rem;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  background-color: rgb(var(--btn-primary));
  color: black;
  font-weight: 700;

  .modal_icon,
  .modal_text {
    padding: 0.5rem;
    position: absolute;
    width: 8rem;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: left 0.5s;
  }

  .modal_icon {
    display: flex;
    justify-content: center;
    left: -50%;
  }
}

.animate-modal:hover {
  .modal_icon {
    left: 50%;
  }

  .modal_text {
    left: 150%;
  }
}

@media (max-width: 640px) {
  .animate-modal {
    width: 7rem;
    height: 2.5rem;

    .modal_icon,
    .modal_text {
      font-size: small;
    }
  }
}

.char {
  opacity: 0;
  filter: blur(5px);
  animation: fadeIn 1.5s forwards;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    filter: blur(0px);
  }
}
